<!-- <% if(locals.user) { %>
    <div id="user-chat-box">
        <div id="chat-messages-list">
            <ul>
                <li id="sent-messages">
                    <div>
                        My Message
                    </div>

                    
                </li>
                <li id="received-messages">
                        <div>
                            Received Message is veryyyyy biggggggggggggggg
                        </div>
                        
                                     
                </li>

            </ul>

        </div>
        <div id="send-message-div">
            <input type="text" id="message-input" placeholder="write message .....">
            <button id="message-send-btn">Send</button>

        </div>



    </div>
<%  } %> -->