<% if(locals.user) { %>
    <div id="chat-box">
        <div id="chat-messages-list">
            <ul>
                <li id="sent-messages">
                    My Message
                </li>
                <li id="received-messages">
                    Received Message
                </li>

            </ul>

        </div>
        <div id="send-message">
            <input type="text" id="message-input" placeholder="write message .....">
            <button id="message-send-btn">Send</button>

        </div>



    </div>
<%  } %>