<footer>
    <p>
        created by : Neeraj Nath
    </p>
    <p>
        <p>
            <a href="/">Go Home</a>
        </p>
        <p> 
            <a href="/users/profile">Profile</a>
        
        </p>
    </p>
</footer>