<footer>
    <p>
        © Neeraj Nath
    </p>
    <p>
        <p>
            <a href="/">Go Home</a>
        </p>
        <% if (locals.user) {%>
        <p> 
            <a href="/users/profile/<%=locals.user.id%>">Profile</a>
        </p>
        <% } %>
    </p>
</footer>