<aside>
    <img src="/images/prog-image.jpg" alt="">
    <div>
        <p>
            “When I wrote this code, only God and I understood what I did. Now only God knows.”
        </p>
        <p>
            “Copy-and-Paste was programmed by programmers for programmers actually.”
        </p>
        <p>
            “Algorithm: Word used by programmers when they don’t want to explain what they did.”
        </p>
    </div>
</aside>