<!-- <link rel="stylesheet" href="/css/home.css"> -->
<div id="main-display">
    <div id="center-display">
        <h2>
            Welcome to CoDEial!!
        </h2>
        <div>
            <p>
                CoDEial is a platform created with an idea to provide developers and programmers a
                place to meet..
            </p>
        </div>
        <section id="feed-posts">
            <%- include('_post') -%>
        </section>
    </div>
    <div id="user-list">
        <section id="">
            <h3>
                Users:
            </h3>
            <% if (locals.user) {%>
                <% for (u of all_users){%>
                    <% if (String(u._id) != locals.user._id) { %>
                        <a href="/users/profile/<%= u.id %>"><%= u.name%></a>
                        <br>
                    <% } %>
                
                <% } %>
            <% } %>
        </section>
    </div>
</div>