<link rel="stylesheet" href="/css/form.css">
<!-- <link rel="stylesheet" href="/css/sign-in.css"> -->
<div id="sign-in-page">
    <h1>
        Sign In Here
    </h1>
    <form action="/users/create-session" method="POST">
        <input type="email" name="email" placeholder="Your Email" required>
        <br>
        <input type="password" name="password" placeholder="Your password" required>
        <br>
        <button type="submit">
            Sign In
        </button>
    </form>

</div>
