footer {
  background-color: #146c94;
  background-color: #0f0f0f;
  background-color: #f5f7f8;
  padding: 0 1.5rem;
  color: black;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  // border-top:2px solid black;
  box-shadow: 1px -2px 2px grey;
  a {
    text-decoration: none;
    color: whitesmoke;
    color: black;
    padding: 8px;
    border-radius: 10px;
    &:hover {
      color: #f4f4f4;
      background-color: #0f0f0f;
    }
  }
}
