header{
    width:100vw;
    display: flex;
    justify-content: space-between;
    padding : 0 2rem;
    background-color: #146C94;
    background-color: #0F0F0F;
    background-color: #F5F7F8;
    position: fixed;
    top:0px;
    height : 70px;
    // border-bottom: 2px solid black;
    box-shadow: 1px 2px 2px grey;
    
    h1{
        display: inline-block;
        color:#F4F4F4;
        color:black;
        margin-bottom: 25px;
    }
    ul{
        margin-right: 4rem;
        display: inline-flex;
        justify-content: space-around;
        width:20vw;
        line-height: 0.2;
        li{
            list-style: none;
            a{
                padding: 8px;
                border-radius: 10px;
                text-decoration: none;
                color: #F4F4F4;
                color: black;
                &:hover{
                    
                    color:#F4F4F4;
                    background-color: #0F0F0F;
                }
            }

        }
    }
}