#main-display{
    display: flex;
    margin-top: 90px;
    margin-bottom: 100px;
    text-align: center;
    text-decoration: none;
    li{
        list-style: none;
    }

    h1{
        display: inline-block;
    }
    #center-display{
        width:70%;
        padding: 20px;
        border-right: 2px dashed slategray;
    }
    #user-list{
        height: 100%;
        width:30%;
        padding:20px;
        
        a{
            text-decoration: none;
            color: black;
        }
    }
    a{
        text-decoration: none;
        color: black;
    }


}