<div>
    <p>
        Hey, <%= comment.user.name%>!!
    </p>
    <br><br><br>
    <p>You just made a new comment '<%= comment.content%>' in Codeial</p>
    <br>
    <p>Regards,</p>
    <br>
    <p>Codeial</p>
    <em>IMPORTANT:
        <small> If not you, try changing your codeial password and secure your account.</small>
    </em>

</div>